<div class="container" style="width:50rem">
  {{!-- sorting btn --}}
  <form action="/" method="GET">
    <div class="row mt-5 justify-content-end">
      <div class="form-group">
        <label for="exampleFormControlSelect1"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i>
          排序</label>
        <select class="form-control" id="exampleFormControlSelect1" name="sorting" onchange="location = this.value">
          <option value="/sort?name=date&way=desc">日期 （新到舊）</option>
          <option value="/sort?name=date&way=asc">日期 （舊到新）</option>
          <option value="/sort?name=amount&way=asc">金額 （低到高）</option>
          <option value="/sort?name=amount&way=desc">金額 （高到低）</option>
        </select>
      </div>
    </div>
  </form>


  {{!-- category select --}}
  <form action="/" method="POST">
    <div class="row mt-3 justify-content-center">
      <div class="col-12">
        <form action="/edit" method="POST">
          <div class="form-group">
            <label class="ml-2" for="exampleFormControlInput1" style="font-size: 1.5rem;">支出種類</label>
            <select class="form-control" id="exampleFormControlSelect1" name="categorySelect" onchange="submit()">
              {{#if categoryItem}} <option>{{categoryItem}}</option> {{/if}}
              <option value="">全部</option>
              <option value="home">家居物業</option>
              <option value="traffic">交通</option>
              <option value="entertainment">娛樂休閒</option>
              <option value="food">餐飲</option>
              <option value="else">其他</option>
            </select>
          </div>
        </form>
      </div>
    </div>
  </form>

  {{!--show amount--}}
  <div class="mt-4">
    <div class="row">
      <div class="col">
        <h5 class="ml-2" style="color: gray;">總金額：</h5>
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col text-center">
        <h1 class="ml-4" style="color: orange; font-size:4rem">$ {{totalAmount}}</h1>
      </div>
    </div>
  </div>
  {{!-- detail --}}
  {{#each record}}
  <div class=" row mt-5 justify-content-center">
    <div class="col-8">
      <div class="row">
        <div class="col-2 align-self-center">
          {{{getImage this.category ../category_image}}}
        </div>
        <div class="col-8">
          <div class="row">{{this.name}}</div>
          <div class="row">{{this.date}}</div>
        </div>
        <div class="col-2 align-self-center">{{this.amount}}</div>
      </div>
    </div>
    <div class="col-2 align-self-center">
      <a href="./record/{{this._id}}/edit">修改</a>
      <form action="./record/{{this._id}}?_method=DELETE" method="POST" class="d-inline ml-2">
        <button type="submit" class="btn-primary">刪除</button>
      </form>
    </div>
  </div>
  {{/each}}
  {{!-- create item btn --}}
  <div class="row justify-content-center mr-4 mt-4 mb-4">
    <form action="./record/new" method="GET">
      <button type="submit" class="btn btn-success">新增支出</button>
    </form>
  </div>
</div>