<div class="container" style="width:50rem">
  {{!-- category select --}}
  <div class="row mt-5 justify-content-center">
    <div class="col-12">
      <form action="/edit" method="POST">
        <div class="form-group">
          <label class="ml-2" for="exampleFormControlInput1" style="font-size: 1.5rem;">支出種類</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>all</option>
            <option>home</option>
            <option>traffic</option>
            <option>entertainment</option>
            <option>food</option>
            <option>else</option>
          </select>
        </div>
      </form>
    </div>
  </div>
  {{!--show amount--}}
  <div class="mt-4">
    <div class="row">
      <div class="col">
        <h5 class="ml-2" style="color: gray;">總金額：</h5>
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col">
        <h1 class="ml-4" style="color: orange; font-size:3rem">NTD 5000</h1>
      </div>
    </div>
  </div>
  {{!-- detail --}}
  {{#each record}}
  <div class="row mt-5 justify-content-center">
    <div class="col-8">
      <div class="row">
        <div class="col-2 align-self-center">
          {{{getImage this.category ../category_image}}}
        </div>
        <div class="col-8">
          <div class="row">{{this.name}}</div>
          <div class="row">{{this.date}}</div>
        </div>
        <div class="col-2 align-self-center">{{this.amount}}</div>
      </div>
    </div>
    <div class="col-2 align-self-center">
      <a href="./record/{{this._id}}/edit">修改</a>
      <a class="ml-2 align-self-center" href="./record/{{this._id}}/delete">刪除</a>
    </div>
  </div>
  {{/each}}
  {{!-- create item btn --}}
  <div class="row justify-content-center mr-4 mt-4 mb-4">
    <form action="./record/new" method="GET">
      <button type="submit" class="btn btn-success">新增支出</button>
    </form>
  </div>
</div>